<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd"
                packages="io.github.patbattb.moderant"
                name="App">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="%d [%t] %5p %c{1.3*} - %m%n"/>
        </Console>

        <Console name="STDERR" target="SYSTEM_ERR">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="%d [%t] %5p %c{1.3*} - %m%n"/>
        </Console>

        <!--RollingRandomAccessFile name="FILE"
                     fileName="app.log"
                     filePattern="app.log.%i.gz">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="%d [%t] %5p %c{1.3*} - %m%n"/>
            <DefaultRolloverStrategy max="5"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingRandomAccessFile-->
    </Appenders>

    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="STDERR"/>
            <!--AppenderRef ref="FILE"/-->
        </Root>
        <Logger name="io.github.patbattb" level="INFO">
        </Logger>
    </Loggers>

</Configuration>